.section {
    background-color: rgb(255, 201, 179);
    border-radius: 2vw;
}
.section__col_1 {
    border-radius: 2vw;
    background-color: lightblue;
    color: rgb(13, 31, 92);
}
h3 {
    margin-top: 3vh;
    margin-bottom: 1vh;
    text-decoration: underline;
}
@media (min-width: 768px) {
    .section__col_1 {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}